.portfolio-container{
    margin-top:10px;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 650px;
    text-align: center;
    overflow-y: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.959);
    border: 2px solid #83c5be;
    padding:9px;

    @media (max-width: 576px) {
        width: 350px;
        height: 600px;
        top: 53%;
       }
    
    .closebtn{
        position: absolute;
        right: 0;
        top:0;
        margin: 1rem;
        width: 2em; height: 2em;
        border-radius: 50%;
        border: none;
        font-weight: bold;
        font-size: 20px;
        color: #83c5be;
        background-color:transparent;
        border: 2px solid #83c5be; 
        cursor: pointer;
        &:focus {
            outline: solid 0 transparent;
            box-shadow: 0 0 0 2px #0000009c
        }
        
        &:hover {
            transition: 0.2s;
            transform: scale(130%);
            background: rgba(0, 0, 0, 0.1);
            color: white;
            background-color:#83c5be;
        }
        }

        .project-link{
            position: absolute;
            right: 5px;
            bottom:5px;
            margin:6px;
            width: 40px;
            border-radius: 0;
            height:40px;
          }

    .modal-contain{
        padding:15px;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        .carousel{
            
            .pic-carousel{             
                width: 100%;
                height: 100%;
            }
        }
        h3{
            font-size: 20px;
        }
        p{
            margin-top:65px;
            font-size:19px;
        }

        .techs-contain{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            img{
                width: 50px;
            }
        }
    }
}