@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;1,500;1,600&display=swap');
@keyframes infiniteScrollBg {
    0% {
      background-position: 50% 0;
    }
    100% {
      background-position: 50% -1000px;
    }
  }
  *{
    font-family: 'Karla', sans-serif;
    text-align: center;
  }
  .wrapper {
    display: flex;
    font-family: Orbitron;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/89/76/ae/8976aeee26c9737d2ab31db3ca16c179.gif");
    animation: infiniteScrollBg 70s linear infinite;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }
  .home-title{
      font-size: 40px;
      letter-spacing: 2px;
      color:white;
  }
  .typing-hero{
    color:white;
    width: 27ch;
    animation: typing 2s steps(27), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 22px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .tech-container,
  .portfolio-container{
    margin-top: 90px;
    padding-inline:105px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    
  }
  
  .contact-title,
  .project-title{
    padding-top:50px;
      font-size: 35px;
      color: #66c5bf;
  }
  .project-title{
    color: #5c5b5beb;
  }

.section{
  padding:80px 0;
}
.portfolio{
  background-color: #95b8d162;
  padding-inline:50px;
}
@media (max-width: 576px){
  .portfolio-container{
    padding-inline:6px;
  }
  .tech-container,
  .portfolio{
    padding-inline:0;
  }
  .contact-title{
    font-size:25px;
  }
  .home-title{
  margin-top:90px;
}
}